<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results for:</title>
    <link rel="stylesheet" href="searchResult.css">
    <script src="searchResult.js" defer></script>
</head>
<body>
    <div class="nav">
        <a href="index.html"><img src="assets/logos/logo-white.png" alt=""></a>
    </div>    
    <div class="search">
        <input type="search" id="searchInput" placeholder="Enter your search term...">
    </div>
    <div class="searchResult">
        <span>Showing Results for: <span id="searchTerm"></span></span>
        <div class="searchImageDiv" id="searchImageDiv"></div>
    </div>
</body>
</html>
